.fit-image {
    object-fit: cover;
    height: 200px; /* Set the height to the desired value */
    }

#second{
    padding-left:10px;
}

#third{
    padding-left:10px;
}

button.save-button {
    border: none;
}

body {
    margin: 0;
    font-family: var(--mdb-body-font-family);
    font-size: var(--mdb-body-font-size);
    font-weight: var(--mdb-body-font-weight);
    line-height: var(--mdb-body-line-height);
    color: var(--mdb-body-color);
    text-align: var(--mdb-body-text-align);
    background-color: var(--mdb-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: cadetblue;
    background-color: #5f59f7;
}

#book{
    margin-left: 5px;
    margin-right: 5px;
}
