{% extends 'base.html' %}
{% block content %}

<style>
    div#car_add {
        padding-top: 3em;
        padding-bottom: 12em;
     }
</style>

<link rel="stylesheet" href="/static/css/car_add.css">
<body>
<div id="car_add" class="row justify-content-center">
    <div class="col-md-8">
        <div class="card-header">
            <h4 class="card-title">Add Car</h4>
        </div>
  
        {% for message in messages %}
            <p id="messages">{{message}}</p>
        {% endfor %}

        <div class="card-body">
            <form method="POST" action="{% url 'car_add' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                
                    <div class="form-group imagefield col-md-6">
                        <label for="image"></label>
                        <div class="puput">
                        <input type="file" name="image" id="image" placeholder="Car Photo" class="form-control-file" accept="image/*" onchange="previewCarPhoto(event)">
                        </div>
                        <img src="#" alt="Car Photo Preview" class="car-preview img-thumbnail" id="car-photo-preview" style="display: none">
                    </div>

                        <div class="form-group col-md-6">
                            <label for="make"></label>
                            <input type="text" name="make" id="make" maxlength="50" placeholder="Make" class="form-control" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="car_model"></label>
                            <input type="text" name="car_model" id="car_model" placeholder="Car Model" class="form-control" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="daily_rental_price"></label>
                            <input type="number" name="daily_rental_price" id="daily_rental_price" step="0.01"  maxlength="50" placeholder="Daily Rental Price" class="form-control" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="late_return_fee_per_hr"></label>
                            <input type="number" name="late_return_fee_per_hr" id="late_return_fee_per_hr" step="0.01" placeholder="Late Return Fee/Hour" class="form-control" required>
                        </div>
               
                        <div class="form-group col-md-6">
                            <label for="ecoacash_rate"></label>
                            <input type="number" name="ecoacash_rate" id="ecoacash_rate" step="0.01" placeholder="Ecoacash USD Rate (Optional)" class="form-control">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="mileage"></label>
                            <input type="number" name="mileage" id="mileage" placeholder="Mileage" class="form-control" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="plate_number"></label>
                            <input type="text" name="plate_number" id="plate_number" placeholder="Plate Number" class="form-control" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="model_year"></label>
                            <input type="number" name="model_year" id="model_year" placeholder="Model Year" class="form-control" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="id_fuel_type"></label>
                            <select name="fuel_type" class="form-control" required id="id_fuel_type">
                                <option value="" selected="">Fuel Type...</option>
                                <option value="Petrol">Petrol</option>
                                <option value="Diesel">Diesel</option>
                                <option value="Gas">Gas</option>
                                <option value="Hybrib">Hybrid</option>
                                <option value="Electric">Electric</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="color"></label>
                            <input type="text" name="color" id="color" placeholder="Color" class="form-control" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="num_seats"></label>
                            <input type="number" name="num_seats" id="num_seats" placeholder="Number of Seats" class="form-control" required>
                        </div>

                        <div class="form-group col-md-12">
                            <label for="description"></label>
                            <input type="text" name="description" id="description" max_length="100" placeholder="Description" class="form-control" required>
                        </div>
                    </div>
                </div>


                <p class="errors">{{form.errors}}<p>
     
                <div class="buttons">
                <a href="{% url 'dash' %}"><button type="submit" class="btn btn-primary" style="padding-right: 1em; margin-right: 12px;">Add Car</button></a>
                 
                <a href="{% url 'dash' %}"><button type="button" style="padding-left: 1em;" class="btn btn-secondary">Cancel</button></a>
                </a>

                <br>
            </div>
            </form>
        </div>
    </div>
</div>
<script src="/static/js/car_add.js"></script>
</body>
{% endblock %}
