<link rel="stylesheet" href="/static/css/nav.css">

<nav class="navbar fixed-top py-3 navbar-expand-lg navbar-light bg-dark shadow-sm">
    <div class="container-fluid" style="padding-right: 200px; padding-left:200px;">

      <a class="navbar-brand nav-link" target="_blank" href="{% url 'landingpage' %}">
        <strong style="font-size: 40px; color: cornflowerblue; font-weight: bolder;">Sixo</strong>
      </a>
     <button 
     class="navbar-toggler" 
     type="button" 
     data-mdb-toggle="collapse" 
     data-mdb-target="#navbarTogglerDemo02" 
     aria-controls="navbarTogglerDemo02" 
     aria-expanded="false" 
     aria-label="Toggle navigation"
     >
       <span class="fas fa-bars"></span>
     </button>  
     <div class="col-auto">
     <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" >
          <a class="nav-link {% if request.path == "/" %}active{% endif %}"  aria-current="page" href="{% url 'landingpage' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == "car_list" %}active{% endif %}" href="{% url 'car_list' %}">Cars</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'car_add' %}active{% endif %}" href="{% url 'car_add' %}" id="navbar Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Get your car rented
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
           <li><a class="dropdown-item" href="{% url 'car_add' %}">Add Car</a></li>
           <li><a class="dropdown-item" href="{% url 'dash' %}">See my Cars</a></li>
  
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'contact-view' %}active{% endif %}" href="{% url 'chauffeur_list' %}">Chauffuers</a>
        </li>

        <li class="nav-item" style="padding-top:7px; padding-bottom:7px;">
                   <div>
                      <a href="{% url 'index' %}"><button class="btn btn-outline-primary" type="submit" data-md b-ripple-color="dark"><i class="fas fa-search">Go</i></button><a>
                  </div>
       </li>

           <ul class="navbar-nav">
            {% if user.is_authenticated %}
              <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}"><i class="material-icons">account_circle</i> Profile</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><i class="material-icons">logout</i> Logout</a></li>
            {% else %}
              <li class="nav-item"><a class="nav-link" href="{% url 'logins' %}"><i class="material-icons">login</i> Login</a></li>
            {% endif %}
          </ul>
       </ul>
     </div>
     </div>
    </div>

    <script>
      function updateActiveLink() {
        var currentUrl = window.location.pathname;
        var currentName = resolve(currentUrl).url_name;
        var links = document.querySelectorAll('.nav-link');
        links.forEach(function(link) {
          var url = link.getAttribute('href');
          var name = resolve(url).url_name;
          if (currentName === name) {
            link.classList.add('active-link');
          } else {
            link.classList.remove('active-link');
          }
        });
      }
      updateActiveLink();
      </script>
</nav>





